{% extends 'statnuts/statnuts_base.html' %}
{% load staticfiles %}
{% load envelope_tags crispy_forms_tags %}

                    {% block navcontent %}
                        <li><a href="/">Home</a></li>
                        <li><a href="/admin/">Admin</a></li>
                        <li class="active"><a href="/contact/">Contact</a></li>
                    {% endblock %}

{% block additional_style %}
    <link href="{% static "statscollect_db/css/starter-template.css" %}" rel="stylesheet">
{% endblock %}

{%  block content %}
    <div class="inner cover panel">
         {% if messages %}
             <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="text-{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
             </ul>
        {% endif %}
        <form action="{% url 'envelope-contact' %}" method="post">
            {% csrf_token %}
            {% antispam_fields %}
            {% crispy form %}
        </form>
    </div>
{% endblock %}